<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Categories
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <!-- <div class="row"  padding>
       
      </div> -->
  <div class="row noMargin" >
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
          <div class="catagoryBlockChecked">
            <div class="checkedBlock">
                <ion-icon name="done-all" style="font-size:30px;"></ion-icon>

            </div>            
            </div>
        <span class="categoryTitle">Hotels</span>
      </div>
      
    </div>
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
        <span class="categoryTitle">Hotels</span>
      </div>
    </div>
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
        <span class="categoryTitle">Hotels</span>
      </div>
    </div>
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
        <span class="categoryTitle">Hotels</span>
      </div>
    </div>
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
        <span class="categoryTitle">Hotels</span>
      </div>
    </div>
    <div class="col-4 catagorySection " >
      <div class="catagoryBlock">
        <span class="categoryTitle">Hotels</span>
      </div>
    </div>
  </div>

</ion-content>