<ion-header>
  <ion-toolbar>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        <div class="row noMargin">
          <div class="col-12">
            <span> Your Current Location is: - PUNE</span>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
    <div class="row noMargin" >
      <div class="col-12">
        <span>Popular cities</span>
      </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
              <div class="locationBlockChecked">
                <div class="checkedBlock">
                    <ion-icon name="done-all" style="font-size:30px;"></ion-icon>
    
                </div>            
                </div>
            <span class="categoryTitle">Mumbai</span>
          </div>
          
        </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
            <span class="categoryTitle">Pune</span>
          </div>
        </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
            <span class="categoryTitle">Delhi</span>
          </div>
        </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
            <span class="categoryTitle">Hyderabad</span>
          </div>
        </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
            <span class="categoryTitle">Banglore</span>
          </div>
        </div>
        <div class="col-4 locationSection " >
          <div class="locationBlock">
            <span class="categoryTitle">Chennai</span>
          </div>
        </div>
        <div class="col-4 locationSection " >
            <div class="locationBlock">
              <span class="categoryTitle">Kolkata</span>
            </div>
          </div>
      </div>
</ion-content>
